html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 100px 150px 200px;
    text-align: center;    
}

.column {
    padding: 16px;
    height: 250px;
    margin: 5px;
    background-color: #cccccc;
}