@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.no-drag img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html {
    overflow: hidden;
}

body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}

button {
    font-weight: 100;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: darkgray;
}
a:hover {
    text-decoration: underline;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: white;
    cursor: pointer;
    width: 150px;
    border-radius: 12px;
}

input[type="range"]:disabled {
    opacity: 0.5;
}

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    background-color: #505050;
    height: 1rem;
    width: 1rem;
    border-radius: 12px;
}

/* .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */
/* .popup .popuptext {
    visibility:visible;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
} */
/* .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
} */
/* .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
} */

#commandsModal {
    max-height: 100%;
}

.draggableDiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    min-width: 120px;
    min-height: 120px;
    opacity: 0.6;
}
.draggableDiv button {
    color: black !important;
    border-radius: 0px !important;
    width: 100%;
}
.draggableDivHeader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    color: #fff;
}
.draggableDivHeader img {
    height: 24px;
}

.splash {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    text-align: center;
    transition: 0.5s ease;
    position: absolute;
    z-index: 9999;
}

.splash img {
    width: 120px;
    height: 120px;
    margin: auto;
    display: block;
    top: 45%;
    position: sticky;
}

.lights-menu {
    background-color: transparent;
    min-height: 20vh;
    transition: opacity .2s ease;
}

.lights-menu .title {
    color: white;
    text-align: center;
    padding: 20px;
}

.lights-menu .title h1 {
    padding: 10px;
    font-size: 26px;
    transition: 0.2s ease;
}

.lights-menu .title h1:hover {
    transform: scale(0.8);
}

.lights-menu .options {
    margin: auto auto 15px auto;
    display: flex;
    gap: 20px;
}

.lights-menu .options .col-md-12 {
    margin: auto;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.lights-menu .options .dropdown-menu button {
    font-weight: 600;
    background-color: rgb(179, 179, 179);
    color: black;
    text-align: center;
    width: 150px;
    margin: auto;
    margin-bottom: 12px;
}

.lights-container {
    background-color: transparent;
    min-height: 80vh;
}

.laserBeams {
    position: absolute;
    background-color: transparent;
    min-height: inherit;
}

.laser {
    position: absolute;
    margin-bottom: 8px;
    margin-left: 35%;
    transition: transform .1s;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    bottom: 0;
}

.lightbeam {
    position: absolute;
    transition: border .02s;
    width: 0;
    height: 0;
    border-bottom: 1px solid black;
    z-index: -99999;
}
.horizonmotion {
    animation: HorizonMotion .8s alternate ease-in-out infinite;
}

.lightPositionLayout {
    width: inherit;
    height: 240px;
    border: 2px solid black;
    background-color: black;
}

.modal-body .lightOptions {
    text-align: center;
    padding: 10px;
}

.modal-body .lightOptions .btn-primary {
    background-color: black;
}

.modal-body .horizontal, .modal-body .horizontal-bottom {
    justify-content: center;
    margin: auto;
    text-align: center;
    gap: 45px;
    display: flex;
}

.modal-body .horizontal-bottom {
    position: absolute;
    bottom: 78px;
    left: 60px;
}

#manageLightsModal .modal-body .horizontal-bottom {
    position: absolute;
    bottom: 26%;
    left: 60px;
}

.modal-body .left {
    top: 45%;
    display: grid;
    position: absolute;
    left: 20px;
    gap: 20px;
}
.modal-body .right {
    position: absolute;
    top: 45%;
    right: 20px;
    display: grid;
    gap: 20px;
}

#manageLightsModal .modal-body .left {
    top: 35%;
    display: grid;
    position: absolute;
    left: 20px;
    gap: 20px;
}
#manageLightsModal .modal-body .right {
    position: absolute;
    top: 35%;
    right: 20px;
    display: grid;
    gap: 20px;
}

.modal-body .lightElementButtons {
    margin-top: 20px;
    text-align: center;
}

.modal-body .lightElementButtons button {
    background-color: black;
}

input[name="lightPosition"], input[name="lightType"],
input[name="manageLightPosition"], input[name="manageLightType"] {
    border-color: black;
}
input[name="lightPosition"]:checked, input[name="lightType"]:checked,
input[name="manageLightPosition"]:checked, input[name="manageLightType"]:checked {
    background-color: grey;
    box-shadow: 1px 1px 1px 1px white;
    content: '';
    border-color: black;
}
input[name="lightPosition"]:active, input[name="lightType"]:active,
input[name="manageLightPosition"]:active, input[name="manageLightType"]:active {
    box-shadow: 1px 1px 1px 1px white;
    border-color: black;
}
input[name="lightPosition"]:disabled, input[name="manageLightPosition"]:disabled {
    background-color: rgb(51, 51, 51);
}

/* BOOTSTRAP OVERWRITE */

.dropdown-menu {
    width: 12%;
    text-align: center;
}

.btn-primary {
    background-color: rgba(0, 0, 0, 0);
    border: 0px !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: rgba(175, 175, 175, 0.5) !important;
}

.btn-primary:focus::after {
    background-color: rgba(175, 175, 175, 0.5) !important;
}

.btn-primary:disabled {
    background-color: rgba(90, 90, 90, 0.5) !important;
    z-index: -999;
}

.btn.show {
    background-color: grey;
}

.form-check {
    display: flex;
}

/* ANIMATIONS */
@keyframes HorizonMotion { 
    from {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(20deg)
    }
}

#mobileMenu {
    display: none;
    background-color: grey;
}

#mobileMenu:hover {
    background-color: lightgray;
    transition: background-color 0.5s ease;
}
#mobileMenu:hover::after {
    background-color: grey;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 845px) {
    #mobileMenu {
        display: block;
    }
    .options {
        display: none !important;
    }
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}  
.dropbtn img {
    width: 24px;
    height: 24px;
}
.dropdown {
    position: relative;
    display: inline-block;
    background-color: gray;
    border-radius: 12px;
    max-width: 140px;
    text-align: center;
    margin: 0 auto;
}  
.dropdown:hover {
    transition: backgroundColor .2s gray;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
} 
.dropdown-content button {
    color: black;
    width: 100%;
    border-radius: 0 !important;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}  
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: transparent;}
